.App-header {
    text-align: center;
    background-color: #172644;
    color: rgb(204, 240, 241);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
  }
  .highlighted-word {
    color:rgb(225, 248, 195);
  }